.about-container {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: flex-end;
}

.about-container .content {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    border-radius: 20px ;
    background-color: rgba(9, 10, 39, 0.685);
}

.about-container .text {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow:
    0 0 7px #00f,
    0 0 10px #00d,
    0 0 21px #00b,
    0 0 42px #009,
    0 0 82px #007,
    0 0 92px #005,
    0 0 102px #003,
    0 0 151px #001;
}

.about-container .main {
    font-size: 20px;
    margin-bottom: 50px;
}

.about-container sub {
    font-size: 14px;
}

.about-container .cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.about-container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 20%;
}

.about-container img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    opacity: 80%;
}
