.hero-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container .content {
    flex: 0 1 80%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    border-radius: 20px ;
    background-color: rgba(9, 10, 39, 0.685);
}

.hero-container .text-box {
    flex: 2 3 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(255, 255, 255);
}

.hero-container .img-box {
    flex: 3 1 50%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 899px) {
    .hero-container .img-box {justify-content: flex-start;}
}

.hero-container .text {
    margin: 15px 0px;
}

.hero-container .main {
    font-size: 24px;
    font-weight: bolder;
    text-shadow:
    0 0 7px #00f,
    0 0 10px #00d,
    0 0 21px #00b,
    0 0 42px #009,
    0 0 82px #007,
    0 0 92px #005,
    0 0 102px #003,
    0 0 151px #001;
}

.hero-container .signup-button {
    background-color: rgba(4, 13, 65, 0.829);
    color: white;
    border: 3px solid white;
    border-radius: 70px;
    padding: 10px 20px;
    text-decoration: none;
}

.hero-container img {
    width: 90%;
    min-width: 300px;
    height: auto;
    opacity: 70%;
}